html, body, main {
	height: 100%;
}

html, body {
	overflow: hidden;
}

body {
	color: #1b1b1b;
	font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	width: 400px;
	height: 420px;
	h1 {
		color: #2c547a;
		height: 20px;
		text-align: center;
		font-weight: normal;
	}
}

nav {
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 0.9rem;
}


